<!-- Container -->
<div id="form-container">
  <!-- Title-->
  <h1>Login</h1>

  <!-- Form -->
  <form [formGroup]="loginForm"(ngSubmit)="onSubmit()" >

      <!-- Username Input Group -->
      <div class="form-group">
          <!--input--><input type="text" class="form-control" formControlName="username" placeholder="Username *">
          <!--error-invalid--><p class="alert-warning alert-danger fade show error-msg" *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">Please enter your username.</p>
      </div>
      <!-- Password Input Group -->
      <div class="form-group">
          <!--input--><input class="form-control" type="password" formControlName="password" placeholder="Password *">
          <!--error-message--><p class="alert-warning alert-danger fade show error-msg" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">Please enter your password.</p>
      </div>
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">SUBMIT</button>

  </form>
  </div>
