<div class="container-fluid">
  <div class="row">
    <div class="col-6 d-flex flex-row">
      <a class="nav-link" routerLinkActive="active" routerLink="/leagues">Leagues</a>
      <a *ngIf=showRoutesForLoggedIn() class="nav-link" class="nav-link" routerLink="/favorites">Favorites</a>
    </div>
    <div class="col-6 d-flex flex-row-reverse">

      <a *ngIf=showRoutesForNewUsers() class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      <a *ngIf=showRoutesForNewUsers() class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a *ngIf=showRoutesForLoggedIn() class="nav-link" routerLink="" (click)="onLogout()" routerLinkActive="active">Logout</a>
      <a *ngIf=showRoutesForLoggedIn() class="nav-link" routerLink="">Logged as: {{this.showUsername()}}</a>
    </div>
  </div>
</div>






