.container{
  border: 1px solid black;
  min-width: 300px;

}
img{
  width: 10%;
}
.col-7{
  justify-content: left;
  text-align: left;
}
.col-5{
  justify-content: center;
  text-align: center;
}
.color-row{
  background-color:#E5E5E5;
}
